*{
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    filter: blur(4px);
    display: none;
}
       #overlay.show {
    display: block;
    }


/* for the level select*/
.level{
    background-color: purple;
    height: 60px;
    margin: 1rem;
    font-size: 1rem;
    text-align: left;
    background-color: transparent;
    border: 1px solid purple;
    color: rgb(44, 44, 44);
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}
.level:hover{
    background-color: rgb(255, 143, 255);
    scale: 1.05;
}
.on {
     background-color: rgb(255, 143, 255);
    scale: 1.05;
}
.level-buttons-div{
    width: 100%;
    height: 20%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem 0.45rem;
    /* justify-content: center; */
    align-items: center;
    
}
.select-level span:nth-child(2){
    display: none;
}
.main{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(245, 245, 245);
    
}

.select-level{
    height:10%;
    padding: 2.5%;
    display: flex;
    align-items: center;
}

#toggle-btn{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(129, 0, 129);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.select-level span:nth-child(1){
 display: flex;
}
.select-level span:nth-child(2){
     display: none;
}
.timer-title{ 
    display: flex;
    align-items: center;
    height: 10%;
}
.timer-inputs-div{
    width: 50%;
    padding-left: 5%;
    font-size: 1.5rem;
    font-weight: 700;
}
.timer-inputs-div span:nth-child(1){
    color: rgb(129, 0, 129);
}
.timer-inputs-div span:nth-child(2){
    color: rgb(92, 92, 92);
    background-color: rgb(255, 143, 255);
    padding: 5px;
}
input{
    width: 30%;
    height: 60%;
    text-align: right;
    border: 1px solid purple;
    border-radius: 0.5rem;
    outline: none;
    color: rgb(85, 38, 92);
}
.timer-case{
    height:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(85, 38, 92);
    margin-bottom: 3%;
}
#display{
    font-size: 3rem;
}
.start-stop-buttons{
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.control-buttons{
    background-color: purple;
    width: 50%;
    height: 90%;
    margin: 0.5rem;
    color: rgb(226, 226, 226);
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    
}
#stop{
    background-color: rgb(207, 207, 207);
    color: rgb(121, 121, 121);
}
@media (width<800px) {
    .main{
        width: 100%;
    }
    .level{
        height: 2rem;
    }
    .level-buttons-div{
    width: 100%;
    height: 20%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem 0.45rem;
    justify-content: center;
    
}
}
@media (width < 600px) {
      /* for the overlay effect */
    
 
/* to bring out the nav bar */
.level-buttons-div {
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;
  height: 100%;
  margin-left: 0%;
  width: 70%;
  transition: left 0.3s ease-in-out;  
  display: flex;
  flex-direction: column;
  text-align: left;
}
.level-buttons-div.show {
  left: 0%;
  background-color: rgb(255, 255, 255);
}

.level{
    background-color: purple;
    height: 60px;
    margin: 1rem;
    font-size: 1rem;
    width: 90%;
    background-color: transparent;
    border: 1px solid purple;
    color: rgb(44, 44, 44);
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    text-align: left;
}
.on {
     background-color: rgb(255, 143, 255);
    scale: 1.05;
}

.main{
    width: 100%;
    height: 100%;
}


/* for the timer */
#display    {
    font-size: 2.5rem;
}


.select-level{
    height:10%;
    padding: 2.5%;
    display: flex;
    align-items: center;
}
#toggle-btn{
    font-size: 2rem;
    color: purple;
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.select-level span:nth-child(1){
 display: none;
}
.select-level span:nth-child(2){
    display: flex;
}




.timer-case{
    height:60%;
}


   



}